.buttonHolder {
    width: 100%;
    text-align: center;
}
.newsImage {
    width: 100%;
}
.media .icon {
    color:black;
    font-size: 1.4em;
}
.leader .icon {
    color: black;
    font-size: 1em;
}